@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --helper-color: #1d1d1f;
  --white-color: #fff;
  --black-color: #000;
  --helper-color2: #eaeaea;
  --helper-color3: #2997ff;
}
body {
  font-family: "Montserrat", sans-serif;
}
.hoverState:hover {
  cursor: pointer;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colm {
  flex-direction: column !important;
}
.footer {
  color: var(--white-color);
  height: 4rem;
  background-color: var(--helper-color);
}
